/* ===========================
	Backend Placeholders
=============================*/

%d-flex {
	display: flex;
}

%flex-wrap {
	flex-wrap: wrap;
}

%justify-content-center {
	justify-content: center;
}

%justify-content-start {
	justify-content: flex-start;
}

%justify-content-end {
	justify-content: flex-end;
}

%align-items-center {
	align-items: center;
}

%align-items-start {
	align-items: flex-start;
}

%align-items-end {
	align-items: flex-end;
}

%flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

%transition {
	transition: all 0.3s;
}
